---
import ContactForm from "../../components/ContactForm";
import AutorentNavbarLayout from "../../layouts/AutorentNavbarLayout.astro";

---

<AutorentNavbarLayout>
    <div class="flex items-center justify-center font-Florentino mx-12 mt-12">
        <hr class="flex-grow h-1 bg-charcoal-gray border-0 rounded my-4 md:my-2" />
        <h1 class="mx-4 font-bold text-center text-3xl">KONTAKT</h1>
        <hr class="flex-grow h-1 bg-charcoal-gray border-0 rounded my-4 md:my-2" />
    </div>
    
    <div
    class="mx-4 md:mx-12 my-6 grid grid-cols-1 md:grid-cols-2 gap-8 justify-items-center font-SortsMillGoudy md:text-lg"
  >
    <div class="mx-4 space-y-6 text-justify md:flex md:flex-col md:justify-center md:items-center">
      <p>
        Otsid erakordseid sündmuste ja dekoratsiooniteenuseid? Võta meiega <b
          >täna</b
        >
         ühendust ja lase meie kogenud meeskonnal muuta Sinu visioon
        reaalsuseks. Olgu tegemist pulma, ettevõtte ürituse või erilise
        tähistamisega, pakume laia valikut kohandatavaid võimalusi, mis vastavad
        Sinu vajadustele. Alates suurepärastest dekoratsioonilahendustest kuni
        isikupäraste kujundusteni – me oleme siin, et muuta Sinu sündmus
        tõeliselt meeldejäävaks. Ära kõhkle meiega ühendust võtta ja uurida
        võimalusi oma järgmiseks ürituseks. Võta meiega kohe ühendust ja hakkame
        koos planeerima!
      </p>
      <p>
        Sündmuste ja pulmade dekoratsiooniteenused terves Eestis. WedLuxis
        püüame tagada, et Sinu kogemus oleks lihtne ja muretu.
      </p>
      <h2 class="text-2xl font-bold">Meie meeskond</h2>
      <p>
        WedLuxis pakume mitmesuguseid pulmade dekoratsiooniteenuseid, et muuta
        Sinu eriline päev unustamatuks. Meie ekspert kujundajad on
        spetsialiseerunud lilleseadetele, kesklõikudele, lauaseadistele,
        taustadele jne. Pakume ka pulmade renti, ürituste mööblit ja lava
        kujundust, et luua ainulaadne pulma elamus.
      </p>
    </div>

    <div class="w-full md:px-4 font-Florentino font-bold">
     <ContactForm client:load/>
    </div>
  </div>
      

</AutorentNavbarLayout>