---
import NoLayout from "../../layouts/NoLayout.astro";
export const prerender = true;
---

<NoLayout>
  <div class="flex items-center justify-center m-4">
    <div class="w-[90%] md:w-[50%] text-left">
      <h1 class="text-2xl font-bold">RENDILEPINGU ÜLDTINGIMUSED</h1>
      <ol class="list-decimal list-inside py-2">
        <li><strong> Sõiduki kasutamine</strong></li>
      </ol>
      <p>
        1.1 Rentnik on kohustatud kasutama Sõidukit selleks ettenähtud korras
        vastavalt sõiduki sihtotstarbele ja suhtuma Sõidukisse
        heaperemehelikult.
      </p>
      <p>
        1.2 Rentnikul on keelatud väljuda Sõidukiga Eesti Vabariigist, kui
        selleks puudub Rendifirma kirjalik nõusolek.
      </p>
      <p>
        1.3 Rentnik kohustub enne igakordset väljasõitu veenduma Sõiduki
        korrasolekus, jälgima teel olles selle tehnoseisundit (LE § 68 p 1) ning
        järgima kõiki kohalduvaid õigusakte, mis reguleerivad Sõiduki
        kasutamist, sealhulgas liikluseeskirju.
      </p>
      <p>
        1.4 Keelatud on Sõiduki kasutamine – väljaspool sõiduteed,
        pukseerimiseks, õppesõiduks, autospordivahendina.
      </p>
      <p>
        1.5 Rentnikul on õigus Sõiduki juhtimine üle anda kolmandale isikule
        üksnes Rendifirma kirjalikul nõusolekul.
      </p>
      <p>
        1.6 Sõidukist väljumisel kohustub Rentnik mitte jätma Sõidukisse esemeid
        ja asju, lukustama uksed ning sisse lülitama signalisatsiooni selle
        olemasolul. Rentnik on kohustatud tegema kõik endast oleneva, et Sõiduki
        võtmed ja/või Sõiduki registreerimistunnistus ei satuks kolmandate
        isikute valdusesse.
      </p>
      <p>
        1.7 <strong
          >Sõidukis on keelatud suitsetada. Selle keelu eiramise korral on
          Rendifirmal õigus nõuda leppetrahvi 400 eur.</strong
        >
      </p>
      <p>
        1.8 Üürihinnad sisaldavad läbisõitu vastavalt pakkumises ja/või lepingus
        toodud kilometraažile.
      </p>
      <p>
        1.9  Väikebussid: läbisõidupiirang 300 km / päevas, kuid mitte rohkem
        kui 5000 km rendiperioodi või ühe kuu (30 päeva) jooksul.
      </p>
      <ol class="py-2">
        <li><strong> Rentniku vastutus</strong></li>
      </ol>
      <p>
        2.1 Rentnik kohustub hüvitama Rendifirmale kogu Lepingu rikkumisega
        põhjustatud kahju osas, mida
      </p>
      <p>
        kindlustusandja ei hüvita. Kui Lepingust tulenevalt on teatud asjaolude
        esinemise risk asetatud Rentnikule, vastutab Rentnik ka juhul, kui ta
        kahju tekkimises ei olnud süüdi.
      </p>
      <p>
        2.2 Lepingu kehtivuse vältel kannab Rentnik Sõiduki juhusliku hävimise
        või Sõiduki ja selle seadmete
      </p>
      <p>
        kahjustumise riski ning on kohustatud hüvitama kõik kahjud, mida ei ole
        kindlustusandja hüvitanud sõiduki mvabatahtliku kindlustuslepingu või
        muu kindlustuslepingu alusel.
      </p>
      <p>
        2.3 Rentnik on kohustatud hüvitama Sõidukilt kaotatud, purunenud või
        vigastatud osade maksumuse, mida ei ole kindlustusandja hüvitanud
        sõiduki vabatahtliku kindlustuslepingu või muu kindlustuslepingu alusel.
      </p>
      <p>
        2.4 Rentnik vastutab ja on kohustatud tasuma rendiperioodil saadud
        trahvimaksed liiklus – ja parkimistrahvide ning muude rikkumiste eest.
        Nende mitte tasumisel on Rendifirmal õigus nõuda Rentnikult lisaks
        trahvile ning sissenõudekuludele (sh täituritasu) teenustasu summas 48
        eur. Kui Rentnik saab rendiperioodi käigus liiklus- või parkimistrahvi,
        peab ta sellest Rendifirmat koheselt informeerima.
      </p>
      <p>
        2.5 Rentnik on kohustatud tasuma purunenud rehvi remondikulud summas 20
        eur ühe purunenud rehvi kohta või juhul kui rehvi ei ole võimalik
        taastada siis kahe uue rehvi soetamiskulud. Rendifirma annab Rentnikule
        taastamiskõlbmatu rehvi ning samas sillas asuva teise rehvi kaasa ning
        nende rehvide omandiõigus kuulub Rentnikule.
      </p>
      <p>
        2.6 Juhul, kui Rentnik ei tagasta Sõidukit täis kütusepaagiga on
        Rendifirmal õigus nõuda tasu iga puuduoleva kütuse liitri eest vastavalt
        ostetud kütuse hinnale ning lisaks teenustasu 10 eur.
      </p>
      <p>
        2.7 Kui Rentniku tegevuse tõttu suureneb kohustusliku liikluskindlustuse
        kindlustussriski koefitsient, on Rendifirmal õigus nõuda Rentnikult
        ühekordset leppetrahvi summas 400 eur.
      </p>
      <p>
        2.8 Rentnik kinnitab, et ta on teadlik, et Sõidukile kahju tekkimisel on
        tema omavastutuse summaks 400 eur ja varguse puhul 20% Sõiduki
        maksumusest. Rentnik on teadlik, et rikkudes Lepingust tulenevaid
        kohustusi võib tema vastutus ulatuda ka 100%-ni Sõiduki maksumusest.
      </p>
      <p>
        2.9 Juhul, kui kindlustusandja hüvitab Rendifirmale kahju, mille eest
        vastutab käesoleva Lepingu kohaselt Rentnik, väheneb vastavas osas
        Rentniku hüvitamiskohustus Rendileandja ees.
      </p>
      <p>
        2.10 Kõik Lepingust tulenevad mistahes rahalised nõuded ja kohustused,
        sealhulgas renditasu ja tasu
      </p>
      <p>
        lisateenuste ning lisavarustuse kasutamise eest, tuleb Rentnikul täita
        seitsme (7) kalendripäeva jooksul arvates Rendifirmalt vastavasisulise
        nõude saamisest. Kui Rendileandja saadab nõude posti teel käesolevas
        Lepingus näidatud Rentniku elu- või asukohta loetakse nõue kätte
        saaduks.
      </p>
      <p>
        2.11 Rendifirmal on õigus nõuda ja esitada Rentnikule Lepingust tulenev
        mistahes rahaline nõue kohe, kui nõude ulatus on selgunud ja Rentnik on
        kohustatud tasuma Lepingu punktile 2.10 vastavalt. Rahalised kohustused
        tuleb täita punktis 2.10 sätestatud tähtajaks ka juhul, kui asjaoludega
        seoses viiakse läbi väärteo-, kriminaalasja-, ja/või kindlustusjuhtumi
        menetlust.
      </p>
      <p>
        2.12 Kui Rentnik ei nõustu Rendifirma poolt esitatud nõude või selle
        suurusega, on tal õigus esitada Rendifirmale pretensioon neljateistkümne
        (14) kalendripäeva jooksul alates nõude kättesaamisest. Pretensiooni
        esitamata jätmist tõlgendatakse nõudega nõustumisena täies ulatuses ning
        Rentniku hilisemaid pretensioone ei arvestata.
      </p>
      <ol class="py-2">
        <li><strong> Renditasu ning muud tasud</strong></li>
      </ol>
      <p>
        3.1 Rentnik kohustub Sõiduki kasutamise eest maksma tasu vastavalt
        Lepingule ja Rendifirma kehtivale hinnakirjale ning müügitingimustele
        alates Sõiduki üleandmisest Rentnikule kuni Lepingu kohases heakorras
        oleva Sõiduki Rendifirmale tagastamiseni. Rentniku poolt tarbitud
        renditeenuste, lisateenuste ja/või lisavarustuse eest tasub Rentnik
        Lepingu punktis 2.10 toodud tähtaja jooksul.
      </p>
      <p>
        3.2 Kui Rentnik ei tasu Lepingust tulenevat kokkuleppelist renditasu või
        muid Lepingust tulenevaid rahalisi kohustusi või lisateenuste ja/või
        lisavarustuse tasu Lepingus märgitud tähtajaks, on Rendifirmal õigus
        nõuda viivist punktis 3.3 toodud määras. Teistkordse või enama
        hilinemise korral on Rendifirmal lisaks viivisele õigus nõuda
        leppetrahvi kuni kolme (3) rendipäeva tasu suuruses summas. Trahvi
        maksmine ei vabasta renditasu maksmisest.
      </p>
      <p>
        3.3 Kui Rentnik ei tasu Lepingust tulenevat mistahes rahalist kohustust
        tähtaegselt on Rendifirmal õigus nõuda viivist tasumisele kuuluvast
        summast 0,1% päevas iga tasumisega viivitatud päeva eest.
      </p>
      <p>
        3.4 Rendileandjal on õigus enne Sõiduki kätteandmist nõuda Rentnikult
        tagatisraha 450-750 eur.
      </p>
      <ol class="py-2">
        <li><strong> Rendifirma kohustub</strong></li>
      </ol>
      <p>
        4.1 Üle andma Rentnikule töökorras Sõiduki ja dokumendid kokkulepitud
        ajal ja kohas.
      </p>
      <p>4.2 Üle andma Rentnikule Sõiduki puhtana ja täis kütusepaagiga.</p>
      <p>
        4.3 Tagastama Rentnikule, kes on täitnud kõik oma lepingulised
        kohustused Rendifirma ees, tagatisraha.
      </p>
      <p>
        4.4 Vaatama Rentniku poolt tagastatud Sõiduki üle 7 (seitsme)
        kalendripäeva jooksul alates Sõiduki
      </p>
      <p>
        tagastamisest Rentniku poolt ning edastama pretensioonid seoses
        avastatud kahjustustega Rentnikule hiljemalt 14 (neljateist)
        kalendripäeva jooksul.
      </p>
      <ol class="py-2">
        <li><strong> Üleandmine ja vastuvõtmine</strong></li>
      </ol>
      <p>
        5.1 Rendifirma annab Rentnikule Sõiduki üle ning Rentnik võtab Sõiduki
        vastu vastava märke tegemisega Lepingusse. Lisaks Sõidukile annab
        Rendileandja Rentnikule üle kohustusliku liikluskindlustuse poliisi,
        blanketid “Teade liiklusõnnetusest“, Sõiduki registreerimistunnistuse
        koopia kaks tõkiskinga, esmaabivahendid (autoapteek), tulekustuti,
        ohukolmnurga.
      </p>
      <p>
        5.2 Juhul, kui Sõidukil esinevad puudused, mis ei takista Sõiduki
        kasutamist, teeb Rentnik sellekohase märkuse Lepingusse. Kui Rentnik ei
        ole teinud Sõiduki tehnilise seisukorra kohta märkust, loetakse, et
        Sõiduk vastab Lepingu tingimustele ning on igasuguste kahjustusteta.
      </p>
      <p>
        5.3 Rentnik on kohustatud tagastama Sõiduki samas tehnilises korras kui
        Rendifirma selle üle andis ning Sõiduk peab olema täis kütusepaagiga.
      </p>
      <ol class="py-2">
        <li>
          <strong>
            Rentniku kohustused rikete, kahjustuste, avarii või valduse kaotuse
            korral
          </strong>
        </li>
      </ol>
      <p>
        6.1 Rendiperioodil tekkinud Sõiduki riketest ja vigastustest on Rentnik
        kohustatud Rendifirmat viivitamatult teavitama. Lisaks peab Rentnik
        Rendifirmale edastama allkirjastatud seletuskirja, mis sisaldab
        temapoolset toimunu kirjeldust.
      </p>
      <p>
        6.2 Kui Sõiduki rike ei võimalda Sõidukit edasi kasutada, kooskõlastab
        Rentnik Rendifirmaga remondikoha, kus rike kõrvaldatakse. Üldjuhul on
        remondi kohaks vastava automargi esindus Eesti Vabariigis. Rendifirmaga
        kooskõlastamata Sõiduki rikete- või remondikulusid ei ole Rendifirma
        kohustatud Rentnikule hüvitama.
      </p>
      <p>
        6.3. Rentnik on kohustatud viivitamatult teavitama Rendifirmat Sõiduki
        kahjustustest, avariist, röövimisest, kelmusest, vargusest või muust
        asjaolust, mis on seadnud või seab ohtu Rendifirma omandis või valduses
        oleva vara. Samuti on Rentnik kohustatud antud punktis nimetatud juhul
        viivitamatult teatama ka vastavalt politseid ja /või päästeteenistust.
      </p>
      <p>
        6.4. Liiklusõnnetusse sattumisel tuleb käituda lähtudes liikluseeskirja
        nõuetest.
      </p>
      <p>
        6.5 Liiklusõnnetuse korral tuleb kutsuda sündmuskohale politsei, et
        fikseerida liiklusõnnetus või tuleb Rentnikul täita nõuetekohaselt
        blankett “Teade liiklusõnnetusest“. Selle blanketi “Teade
        liiklusõnnetusest“ või politsei poolt sündmuskohal koostatud
        dokumentatsiooni koopia mitte esitamisel Rendifirmale, on Rentnik täies
        ulatuses vastutav Rendifirmale tekitatud kahjude eest.
      </p>
      <p>
        6.6 Valduse kaotuse korral tuleb viivitamatult tagastada Rendifirmale
        sõiduki registreerimistunnistus ning võtmed. Rentnik kinnitab, et ta on
        teadlik, et eeltoodud kohustuse täitmata jätmisel ei hüvita Rendifirma
        kindlustusandja Rendifirmale mistahes kahju, mistõttu on Rentnik
        kohustatud kandma täies ulatuses kõik Rendifirmale tekkiva kahju,
        sealhulgas Sõiduki 100% väärtuse.
      </p>
      <ol class="py-2">
        <li><strong> Rendifirma vastutus Sõiduki rikke korral</strong></li>
      </ol>
      <p>
        7.1. Rendifirma ei vastuta otseselt ega kaudselt kahjude eest, mis
        võivad Rentnikule tuleneda Sõiduki rikkest enne rendiperioodi või selle
        ajal ning kui seoses eelnevaga sõit katkeb või viibib, välja arvatud kui
        see tuleneb Rendifirma poolsest tahtlikust või raskest hooletusest
        tulenevast Lepingu rikkumisest.
      </p>
      <ol class="py-2">
        <li><strong> Sõiduki tagastamine</strong></li>
      </ol>
      <p>
        8.1 Rentnik on kohustatud Sõiduki tagastama kokkulepitud ajal,
        kokkulepitud kohta ning samas seisus milles Sõiduk Rentnikule üle anti.
      </p>
      <p>
        8.2 Rendiaja ületamisel ilma Rendifirma vastava nõusolekuta, on
        Rendifirmal õigus nõuda kahekordset renditasu iga rendiaega ületanud
        päeva eest.
      </p>
      <p>
        8.3 Rentnik on teadlik, et juhul kui ta ei tagasta sõidukit Lepingus
        ettenähtud tähtpäeval ning ei ole teavitanud Rendifirmat takistavatest
        asjaoludest, on Rendifirmal õigus esitada EV õiguskaitseorganitele
        avaldus karistusseadustiku § 215 alusel, mis sätestab vastutuse juhuks,
        kui sõidukit kasutatakse omavoliliselt.
      </p>
      <p>
        8.4 Juhul kui Rentnik tagastab Sõiduki enne Lepinguga määratud aega või
        Rendifirma õigustatult ütleb Lepingu üles ei ole Rendifirma kohustatud
        tagastama Rentniku poolt tasutud ettemaksu.
      </p>
      <ol class="py-2">
        <li><strong> Rendilepingu erakorraline ülesütlemine</strong></li>
      </ol>
      <p>
        9.1 Rendifirmal on õigus Leping koheselt üles öelda ja nõuda Sõiduki
        kohest tagastamist, kui tuleb ilmsiks, et Rentnik rikub Lepingu
        tingimusi, on esitanud Lepingu sõlmimisel valeandmeid, on Rendifirmat
        muul viisil eksitanud või kui ilmnevad muud asjaolud, mis võivad ohtu
        seada Sõiduki või tekitada kahju Rendifirmale.
      </p>
      <p>
        9.2 Juhul kui Rendifirma ütleb üles Lepingu punktis 9.1 toodud
        põhjustel, on Rentnik kohustatud tagastama Sõiduki Rendifirmale
        hiljemalt viie (5) tunni möödudes arvates Rendifirma poolsest telefoni
        teel edastatud teatest (k.a SMS sõnum) Lepingu ülesütlemise kohta,
        Lepingus näidatud telefoni numbrile. Kui Rentnik Sõidukit viie (5) tunni
        jooksul ei tagasta, kohustub ta tasuma leppetrahvi 192 eur ja rakenduvad
        Lepingu punktid 8.2 ning 8.3.
      </p>
      <ol class="py-2">
        <li><strong> Muud tingimused</strong></li>
      </ol>
      <p>
        10.1 Lepingust tulenevad vaidlused lahendatakse eelkõige läbirääkimiste
        teel. Kokkuleppe mitte saavutamisel Harju Maakohtus Kentmanni
        kohtumajas.
      </p>
      <p>
        10.2 Käesolevaga on Rentnik andnud nõusoleku temapoolsel kokkuleppe
        mittetäitmisel tema isikuandmete töötlemiseks, sh avaldamiseks
        kolmandatele isikutele, isikuandmete kaitse seaduse mõttes.
      </p>
    </div>
  </div>
</NoLayout>