---
import autoImage from '../assets/auto_sisu.jpg'
import dekoratsioonImage from '../assets/ruum.jpg'
import tekst from "../assets/tekst.json"
---

<div
  class="flex flex-wrap h-screen font-Harietta font-bold text-luxurious-gold"
>
  <a
    href="/autorent"
    class="w-full h-1/2 md:w-1/2 md:h-full flex justify-center items-center relative group"
  >
    <img
      src={autoImage.src}
      alt="auto"
      class="brightness-200 absolute top-0 left-0 w-full h-full object-cover"
    />
    <div
      class="absolute inset-0 bg-deep-black bg-opacity-0 group-hover:bg-opacity-50 transition duration-300"
    >
    </div>
    <span class="z-10 text-gold text-2xl md:text-4xl relative">{tekst.Autorent_tekst.toUpperCase()}</span>
  </a>
  <a
    href="/dekoratsioonid"
    class="w-full h-1/2 md:w-1/2 md:h-full flex justify-center items-center relative group"
  >
    <img
      src={dekoratsioonImage.src}
      alt="dekoratsioon"
      class="brightness-200 absolute top-0 left-0 w-full h-full object-cover"
    />
    <div
      class="absolute inset-0 bg-deep-black bg-opacity-0 group-hover:bg-opacity-50 transition duration-300"
    >
    </div>
    <span class="z-10 text-gold text-2xl md:text-4xl relative"
      >{tekst.Dekoratsioonid_tekst.toUpperCase()}</span
    >
  </a>
</div>