<html lang="et">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Pulmateenuste pakkumine." />
    <meta title="WedLux" />
    <link rel="stylesheet" href="/styles/fonts.css" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
