---
import Navbar from "../components/Navbar";
import FooterDekoratsioonid from "./footer_dekoratsioonid.astro";
---

<html lang="et">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Pulmateenuste pakkumine." />
    <meta title="WedLux" />
    <link rel="stylesheet" href="/styles/fonts.css" />
  </head>
  <body class="bg-soft-white">
    <main>
      <Navbar
        switchToText="AUTORENT"
        switchToHref="/autorent"
        currentHref="/dekoratsioonid"
        page="TEENUSED"
        client:load
      />
      <slot />
      <!-- All the different pages to be rendered here -->
    </main>
  </body>
  <FooterDekoratsioonid />
</html>
